/*
  ---------------------------------------------------------------------------------------------------------------------------
  Import Responsive Styles
  ---------------------------------------------------------------------------------------------------------------------------


a.mobile-logo
  color: #FFFFFF
  font-size: 30px
  font-family: $header-font-family
  position: absolute
  left: 50%
  transform: translateX(-50%)
  text-decoration: none
  &:hover
    color: #FFFFF

//jQuery screen-size check
#screen-size-check
  float: left
  @media #{$large-screen}
    float: none

@media #{$large-screen}
  .no-parallax
    display: none
